.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}
.clients-list {
  display: flex;
  gap: 30px;
}
.clients-list {
  // .clients-list__card

  &__card {
    border: 1px solid #afb1b8;
    border-radius: 4px;
    transition: var(--main-anim);
    &:hover {
      border: 1px solid #2196f3;
    }
  }

  // .clients-list__link

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 168px;
    height: 92px;
    transition: var(--main-anim);
  }

  // .clients-list__icon

  &__icon {
    fill: #afb1b8;
    transition: var(--main-anim);
  }
}
.clients-list__link:hover .clients-list__icon,
.clients-list__link:focus .clients-list__icon {
  fill: #2196f3;
  border-radius: 4px;
}
