.clients {
  padding: 60px 0;
  
  @media (min-width: 1200px){
  padding: 94px 0;
}
}

.clients-list {

  display: flex;
  gap: 30px;
  flex-wrap: wrap;

  @media (max-width: 319px){
    flex-direction: column;
  }

  &__card {
    border: 1px solid #afb1b8;
    border-radius: 4px;
    transition: border var(--main-anim);
    transition-property: border;
    &:hover {
      border: 1px solid #2196f3;
    }

    @media (max-width: 767px) {
      flex-basis: calc((100% - 30px) / 2);
    }
    @media (min-width: 768px) {
      flex-basis: calc((100% - 60px) / 3);
    }
    @media (min-width: 1200px) {
      flex-basis: calc((100% - 150px) / 6);
    }

  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 92px;
    transition: var(--main-anim);
  }
  &__icon {
    fill: #afb1b8;
    transition: fill var(--main-anim);
    transition-property: fill;
  }
}
.clients-list__link:hover .clients-list__icon,
.clients-list__link:focus .clients-list__icon {
  fill: #2196f3;
}
