.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background: var(--secondary-bg-color);
}

.footer-contacts {
  text-align: center;

  @media (min-width: 1200px){
    text-align: start;
  }

  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  &__address {
    color: var(--secondary-color);
    font-style: normal;
    margin-bottom: 9px;
  }
  &__contact {
    display: block;
    margin-bottom: 9px;
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    transition: var(--main-anim);
    -webkit-transition: var(--main-anim);
    &:last-child {
      margin-bottom: 0;
    }
    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }
}
.footer-social--position {
  margin: 0 auto;

  @media (min-width: 1200px){
    margin: 0;
  }

}
.footer-nav {
  display: flex;
  flex-direction: column;
  gap: 60px;
  align-items: baseline;
  flex-wrap: wrap;
  justify-content: space-between;

  @media (min-width: 768px) {
    flex-direction: row;
  }

  &__address-position {
    margin: 0 auto;

    @media (min-width: 1200px) {
      margin: 0
      ;
    }
  }
}

.footer-form {
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  @media (min-width: 1200px){
    align-items: end;
    flex-direction: row;
    gap: 12px;
    margin: 0;
  }
}

.footer-tittle {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;

  @media (min-width: 1200px) {
    text-align: start;
  }
}
.footer-tittle--position {
  margin-bottom: 20px;
}

.footer-mail {
  display: flex;
  gap: 12px;
  flex-direction: column;
  justify-content: center;
  width: 450px;
  margin-bottom: 20px;

  @media (min-width: 1200px){
    width: 358px;
    margin-bottom: 0;
  }

  &__mail {
    justify-content: center;
    // width: 358px;
    height: 50px;
    background-color: transparent;
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    padding-left: 16px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: var(--secondary-color);
  }
  &__button {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    width: 200px;
    height: 50px;
    text-align: center;
    background: #2196f3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border-color: transparent;
    align-items: center;
    color: var(--secondary-color);
    transition: var(--main-anim);
    &:hover {
      border: #188ce8;
      background: #188ce8;
    }
  }
  &__button-txt {
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30 / 16);
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #ffffff;
    margin-right: 10px;
  }
  &__button-icon {
    fill: var(--secondary-color);
  }
}
