.header {
  border-bottom: 1px solid #ececec;
  &__content {
    align-items: center;
    display: flex;
    @media (min-width: 768px) {
      height: 79px;
    }
  }
  &__box {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
  }

  &__contact-list {
    align-items: center;
    display: flex;
    gap: 30px;

    @media (max-width: 1199px) {
      display: inline-block;
      text-align: left;
    }

    @media (max-width: 767px) {
      display: none;
    }
  }
  &__item {
    @media (max-width: 1199px) {
      margin-bottom: 10px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__contacts {
    gap: 10px;
    display: flex;
    align-items: center;
    transition: color (var(--main-anim), fill var(--main-anim));
    transition-property: color, fill;

    &:hover,
    &:focus {
      color: var(--accent-color);
      fill: var(--accent-color);
    }
  }
  &__contact-list &__contacts {
    list-style: none;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
    fill: var(--main-text-color);
    transition: color var(--main-anim);
    transition-property: color;

    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }
  &___icon {
    margin-right: 10px;
    transition: color var(--main-anim);
    transition-property: color;
  }

  &:hover {
    color: var(--accent-color);
  }
}

.header__contact-list .header__contacts:hover .header__icon,
.header__contact-list .header__contacts:focus .header__icon {
  fill: var(--accent-color);
}

.header {
  &__burger-btn {
    padding: 12px 8px;
    background-color: transparent;
    cursor: pointer;
    display: none;
    transition: fill var(--slow-anim);
    &:hover {
      fill: var(--accent-color);
    }

    @media (min-width: 768px) {
      display: none;
    }
    @media (max-width: 767px) {
      display: block;
    }
  }
}

.header__icon--email {
  @media (min-width: 1200px) {
    width: 16px;
    height: 12px;
  }
}
.header__icon--tel {
  @media (min-width: 1200px) {
    width: 10px;
    height: 16px;
  }
}
