.logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--color-black);
}

.logo__item {
  color: var(--accent-color);
}

.logo__header--position {
  margin-right: 91px;
}

.logo--footer{
  display: block;
 margin-bottom: 20px;
  color: var(--secondary-color);
}
